{% extends "base.html" %}
{% block contenido%}
{% load static %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
            <h2 class="section-heading text-uppercase">Acerca de mí</h2>
            <p class="text">Bienvenido a la comunidad cinefila. Aqui encontraras tus titulos favoritos de series y peliculas. Tambien nuestros usuarios aportan valoraciones y comentarios de las peliculas que les gustan y no tanto. Mi nombre es Brian Buera, estudiante de CoderHouse y esta en mi entrega final.</p>
        </div>
    </div>
</div>

{% endblock %}

